###############################################################################
# Copyright (c) 2018-2022 ArSysOp
###############################################################################

#Maven
target/

# Compiled class file
*.class

# JDT output
/*/*/bin/

# Log file
*.log

# BlueJ files
*.ctxt

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#m2e
/.settings/
releng/**/.settings/

#tycho
.META-INF_MANIFEST.MF
.polyglot.*
*.takari_issue_192
