<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="ru.arsysop.loft.rgm.library"
         name="RGM Library"
         point="org.eclipse.passage.lic.base.library">

         <licensingService class = "ru.arsysop.loft.rgm.seal.library.RgmLibrary"/>

   </extension>

</plugin>
