<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
 # Copyright (c) ArSysOp 2018-2022
 # 
 # RGM Sources are publicly available only for 
 # informational, review, analysis and consulting purposes.
 # 
 # Definitions, terms and conditions for using RGM Sources are stated by ArSysOp Source License version 1.0.
 # See http://arsysop.ru/licenses/rgm/ArSysOpSourceLicense-1.0.txt
 # 
 # RGM Sources are provided on "as is" basis. 
 # ArSysOp is not responsible for any damages, losses, legal prosecution 
 # or other consequences of any sort that using RGM Sources can cause to you 
 # (as an individual or Legal Entity), even if aware of such consequences.
 # 
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated markup -->
      <package
            uri="http://www.arsysop.ru/rgm/markup/0.1.0"
            class="ru.arsysop.loft.rgm.markup.model.meta.MarkupPackage"
            genModel="model/markup.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated markup -->
      <parser
            type="markup"
            class="ru.arsysop.loft.rgm.markup.model.util.MarkupResourceFactoryImpl"/>
   </extension>
</plugin>
