<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<!--
 # Copyright (c) ArSysOp 2018-2022
 # 
 # RGM Sources are publicly available only for 
 # informational, review, analysis and consulting purposes.
 # 
 # Definitions, terms and conditions for using RGM Sources are stated by ArSysOp Source License version 1.0.
 # See http://arsysop.ru/licenses/rgm/ArSysOpSourceLicense-1.0.txt
 # 
 # RGM Sources are provided on "as is" basis. 
 # ArSysOp is not responsible for any damages, losses, legal prosecution 
 # or other consequences of any sort that using RGM Sources can cause to you 
 # (as an individual or Legal Entity), even if aware of such consequences.
 # 
-->

<target name="ru.arsysop.loft.rgm.target" sequenceNumber="2">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/cbi/updates/license/"/>
			<unit id="org.eclipse.license.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/eclipse/updates/4.21/R-4.21-202109060500/"/>
			<unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/ecp/releases/releases_126/1261_RC1a/"/>
			<unit id="org.eclipse.emf.ecp.emfforms.runtime.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emfforms.setup.base" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/modeling/emf/emf/builds/release/2.25/"/>
			<unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/modeling/emf/query/updates/releases/R201805030653/"/>
			<unit id="org.eclipse.emf.query.sdk.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/modeling/emf/transaction/updates/releases/R201805140824/"/>
			<unit id="org.eclipse.emf.transaction.sdk.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/modeling/emf/validation/updates/releases/R202008210805/"/>
			<unit id="org.eclipse.emf.validation.sdk.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/modeling/gmp/gmf-notation/updates/releases/R202004160913/"/>
			<unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/modeling/gmp/gmf-runtime/updates/releases/R202004160913/"/>
			<unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/modeling/mdt/ocl/updates/releases/6.12.0/"/>
			<unit id="org.eclipse.ocl.all.sdk.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/modeling/mdt/uml2/updates/5.5/"/>
			<unit id="org.eclipse.uml2.sdk.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/sirius/updates/releases/6.5.0/2020-09/"/>
			<unit id="org.eclipse.sirius.runtime.aql.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.sirius.runtime.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/tools/gef/updates/legacy/releases/4.0.0_gef-master_1952/"/>
			<unit id="org.eclipse.gef.sdk.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/passage/updates/release/2.3.0/lic/"/>
			<unit id="org.eclipse.passage.lic.execute.feature.feature.group" version="0.0.0"/>
		</location>

		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/tools/orbit/downloads/2021-09/"/>
			<unit id="org.junit" version="0.0.0"/>
		</location>
		<location includeSource="true" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>com.fasterxml.jackson.core</groupId>
					<artifactId>jackson-annotations</artifactId>
					<version>2.11.4</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeSource="true" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>com.fasterxml.jackson.core</groupId>
					<artifactId>jackson-core</artifactId>
					<version>2.11.4</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeSource="true" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>com.fasterxml.jackson.core</groupId>
					<artifactId>jackson-databind</artifactId>
					<version>2.11.4</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeSource="true" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>com.github.jtidy</groupId>
					<artifactId>jtidy</artifactId>
					<version>1.0.2</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeSource="true" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>org.dom4j</groupId>
					<artifactId>dom4j</artifactId>
					<version>2.1.3</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeSource="true" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>org.emfjson</groupId>
					<artifactId>emfjson-jackson</artifactId>
					<version>1.3.0</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
	</locations>
</target>